/* src/app/components/StarBackground.module.css */

.starBackground {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .stars, .stars2, .stars3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
  }
  
  .stars {
    width: 1px;
    height: 1px;
    animation: animStar 30s linear infinite;
  }
  
  .stars:after {
    content: " ";
    position: absolute;
    top: 500px;
    width: 1px;
    height: 1px;
    background: transparent;
  }
  
  .stars2 {
    width: 2px;
    height: 2px;
    animation: animStar 50s linear infinite;
  }
  
  .stars2:after {
    content: " ";
    position: absolute;
    top: 500px;
    width: 2px;
    height: 2px;
    background: transparent;
  }
  
  .stars3 {
    width: 3px;
    height: 3px;
    animation: animStar 100s linear infinite;
  }
  
  .stars3:after {
    content: " ";
    position: absolute;
    top: 500px;
    width: 3px;
    height: 3px;
    background: transparent;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-500px);
    }
  }
  